html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: #CCC;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#question {
    background: #FFF;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 500px;
}

#answers {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: -10px;
    margin-right: -10px;
    width: 540px;
}

#answers a {
    background: #FFF;
    box-sizing: border-box;
    color: #000;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    width: calc(50% - 20px);
}

#answers a:hover {
    background: blue;
    color: #FFF;
}